.project-container{
    text-align: center;
    padding-top: 40px;
    max-width: 1200px; /* Ensures the container doesn’t overflow */
    margin: 0 auto;
}
.project-container p{
    padding-top: 10px;
    color: #ee2e7c;
    font-weight: 600;
}
.projects-grid {
    display: flex; /* Makes it a flex container */
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if necessary */
    gap: 20px; /* Adds spacing between the project cards */
    padding: 20px;
    width: 100%; /* Full width for the grid */
    box-sizing: border-box; 
}
.cards-container{
    display: flex;
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if necessary */
    gap: 20px; /* Adds spacing between the project cards */
    margin: 0 auto;
    padding: 20px;
    width: 100%; /* Full width for the grid */
    box-sizing: border-box; 
}
.project-card{
    width: 300px;
    border: 2px solid #ddd;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-top: 30px;
    height: 400px;
}
.project-card:hover {
    transform: translateY(-10px);
}
.project-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.project-card h2 {
    font-size: 15px;
    margin: 20px 0;
}
.project-card p {
    padding: 0 20px;
    font-size: 16px;
    color: #555;
}
.technologies-used {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 5px;
}
.tech-icon {
    font-size: 20px;
    color: #555;

}
.project-links {
    display: flex;
    justify-content: space-around;
}
.btn {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}
.btn-live {
    background-color: green;
}
.btn-live:hover {
    background-color: #fff;
    color: green;
    border: 2px solid green;
}
.btn-code {
    background-color: #333;
}
.btn-code:hover {
    background-color: #fff;
    color:  #333;
    border: 2px solid #333;

}