.Project-Container{
    text-align: center;
    padding-top: 10px;
}
.projects-grid {
    margin: 0 auto;
    max-width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

}
.project-card{
    border: 2px solid #ddd;
    height: 340px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-top: 30px;
}
.project-card:hover {
    transform: translateY(-10px);
}
.project-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.project-card h2 {
    font-size: 15px;
    margin: 20px 0;
}
.project-card p {
    padding: 0 20px;
    font-size: 16px;
    color: #555;
}
.technologies-used {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 5px;
}
.tech-icon {
    font-size: 20px;
    color: #555;

}
.project-links {
    display: flex;
    justify-content: space-around;
}
.btn {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}
.btn-live {
    background-color: green;
}
.btn-live:hover {
    background-color: #fff;
    color: green;
    border: 2px solid green;
}
.btn-code {
    background-color: #333;
}
.btn-code:hover {
    background-color: #fff;
    color:  #333;
    border: 2px solid #333;

}
.slick-slide {
    padding: 0     /* Space between the slides */
    
}


@media (max-width: 1024px) {
    .Project-Container {
        padding: 10px;
    }

    .project-card h2 {
        font-size: 1.2rem;
    }

    .project-card p {
        font-size: 0.9rem;
    }

    .btn {
        padding: 8px 15px;
    }
}

@media (max-width: 768px) {
    .Project-Container {
        padding: 30;
        height: fit-content;
    }
    .projects-grid{
        padding: 35px;
        margin-top: 30px;
    }

    .project-card h2 {
        font-size: 1.1rem;
    }

    .project-card p {
        font-size: 0.8rem;
    }

    .btn {
        padding: 6px 12px;
    }
}

@media (max-width: 600px) {

    .project-card h2 {
        font-size: 1rem;
    }

    .project-card p {
        font-size: 0.75rem;
    }

    .project-card {
        margin: 10px 0; /* Reduce margin between cards */
    }

    .btn {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .project-image {
        height: 140px;
    }

    .tech-icon {
        font-size: 18px;
    }
}




