.about-container{
}
.about-container h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    padding-top: 40px;
}
.about-container p{
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    color: #ee2e7c;
}
.about-img{
    display: flex;
}
.left-img img{
    height: 450px;
    margin-left: 250px;
    margin-top: 10px;
}
.about-us{
   margin-left: 80px;
   width: 50%;
   margin-top: 110px;
}
.about-us h2{
    font-size: 25px;
    font-weight: 700;
}
.about-us p{
    margin-top: 20px;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 2px;
    margin-right: 90px;

}








/* Optional: Add responsiveness for smaller screens */
@media screen and (max-width: 786px) {
    .about-container {
      flex-direction: column;
    }
    .about p {
        flex: 1;
        font-size: 1.1rem;
        margin-left: -55px;
      }
    .edu-details{
         margin-top: 5px;
         width: 100%;
         margin-left: -1px;
         text-align: center;
    }
    .about-internship{
         margin-top: 5px;
         width: 100%;
         margin-left: -1px;
         text-align: center;
    }

    .intro, .education {
        max-width: 100%;
    }
  }
