
.about-container h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    padding-top: 40px;
}
.about-container p{
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    color: #ee2e7c;
}
.about-img{
    display: flex;
}
.left-img img{
    height: 450px;
    margin-left: 250px;
    margin-top: 10px;
}
.about-us{
   margin-left: 80px;
   width: 50%;
   margin-top: 110px;
}
.about-us span{
    color:#ee2e7c;
}
.about-us h2{
    font-size: 25px;
    font-weight: 700;
}
.about-us p{
    margin-top: 20px;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 2px;
    margin-right: 90px;

}

@media (max-width: 992px) {
    .left-img img {
        height: 350px;
    }

    .about-us {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .about-img {
        flex-direction: column; /* Stack items vertically */
    }
    .about-img img{
        height: 280px;
        width: 280px;
        margin-left: 70px;
    }

    .about-us {
        width: 90%;
        margin-left: 60px;
    }
}

@media (max-width: 576px) {
    .about-container h1 {
        font-size: 30px;
    }

    .left-img img {
        height: auto; /* Allow the image to resize naturally */
    }

    .about-us h2 {
        font-size: 18px;
    }

    .about-us p {
        letter-spacing: 0.5px;
    }
}

