.about-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    gap: 30px;  
}
.intro{
    max-width: 50%;
}
.intro h2{
    font-size: 25px;
    color: #ee2e7c;
    text-align: center;
    margin-top: 10px;
}
.about{
    margin-top: 10px;
    display: inline-block; 
    width: 50% ;
    padding: 20px;
    margin-left: 120px;

}
.about p {
    flex: 1;
    font-size: 1.1rem;
    text-align: center;
  }
.education{
    max-width: 50%;
}
.education h2{
    font-size: 25px;
    color: #ee2e7c;
    text-align: center;
    margin-top: 10px;
}
.edu-details{
   display: inline-block; 
    width: 50% ;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px #ddd;
    margin-top: 10px;
    margin-left: 160px;

}
.about-internship{
    display: inline-block; 
    width: 50%; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 8px #ddd;
    margin-top: 20px;
    margin-left: 160px;
}
.about-internship h1{
    font-size: 20px;
    font-weight: 600;
}
.about-internship h3{
    font-size: 13px;

}

/* Optional: Add responsiveness for smaller screens */
@media screen and (max-width: 1024px) {
    .about-container {
      flex-direction: column;
    }
    .edu-details{
         margin-top: 5px;
         width: 100%;
         margin-left: -1px;
         text-align: center;
    }
    .about-internship{
         margin-top: 5px;
         width: 100%;
         margin-left: -1px;
         text-align: center;
    }

    .intro, .education {
        max-width: 100%;
    }
  }
