* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, sans-serif;
}

html {
  scroll-behavior: smooth; 
}
section {
  min-height: 70vh; 
}

#home {
  padding: 60px 10px;
  background-color: #fff;
}

#about {
  background-color: #f5f8fd;
  height: 90vh;

}
#skill {
  background-color: #fff;
  height: 85vh;
}

#projects{
  background-color: #eee;
  height: 150vh;
}
#contact {
  padding: 60px 10px;
  background-color: #fff;
  height: 40vh;
}
@media (max-width: 1024px) {
     #skill {
       height:  97vh;
     }
}
@media (max-width: 786px) {
  #about{
    height:  120vh;
    width: auto;
  }
  #projects{
    height: 260vh;
  }
}
