* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, sans-serif;
}

html {
  scroll-behavior: smooth; 
}
section {
  min-height: 70vh; 
}

#home {
  padding: 60px 10px;
  background-color: #fff;
}

#about {
  background-color: #fff;
  height: 80vh;

}
#skill {
  background-color: #fff;
  height: 75vh;
}

#projects{
  background-color: #eee;

}

#contact {
  padding: 60px 10px;
  background-color: #fff;
  height: 40vh;
}
@media (max-width: 1024px) {
     #skill {
       height:  120vh;
     }
}
@media (max-width: 786px) {
  #about{
    height:  100vh;
  }
}
